{{#each openBanners as |banner|}}
    <div class='row banner-row text-{{banner.color}} {{banner.color}}-dark'>
        <div class='banner bg-{{banner.color}} col-xs-10 col-xs-offset-1'>
            <div class='row'>
                {{#if banner.icon}}
                    <div class='banner-icon col-xs-3 col-sm-2 col-lg-1'>
                        {{fa-icon banner.icon size=5}}
                    </div>
                {{/if}}
                <div class='col-xs-9 col-sm-10 col-lg-11'>
                    <button {{action 'close' banner}} type="button" class="close pull-right" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p class='lead'>{{banner.title}}</p>
                    <p>{{banner.description}}</p>
                </div>
            </div>
        </div>
    </div>
{{/each}}
