{{#if curate}}
    {{#if edit}}
        <input type='text' value={{newText}} style={{inputStyle}} {{action 'change' on='change'}}>
        {{fa-icon 'times' click=(action 'cancel')}}
    {{else}}
        <span class='text-display'>{{text}}</span>
        (<a href='' {{action 'edit'}}>edit</a>)
        <!-- {{fa-icon 'magic' click=(action 'edit')}} -->
    {{/if}}
{{else}}
    <span class='text-display'>{{text}}</span>
{{/if}}
