{{#if editing}}
  {{textarea rows=rows class="form-control" keyDown=(action 'submit') value=updated}}
  <span {{action 'cancel'}}>{{fa-icon 'times'}}</span>
{{else}}
  <span class='text-display'>
    {{#if changed}}
      <i>{{updated}}</i>
    {{else}}
        {{#if text}}
            {{text}}
        {{else}}
            <i>Add information</i>
        {{/if}}
    {{/if}}
  </span>
{{/if}}
