<style scoped>
  .set-width {
    width: {{textWidth}};
  }
</style>
{{#if curate}}
{{#if editing}}
    {{input type='text' class="set-width" value=updated key-up='submit'}}
    <span {{action 'cancel'}}>{{fa-icon 'times'}}</span>
{{else}}
<span class='text-display'>
  {{#if changed}}
    <i>{{updated}}</i>
  {{else}}
    {{text}}
  {{/if}}
</span>
{{/if}}
{{else}}
    <span class='text-display'>{{text}}</span>

{{/if}}
