<div class="navbar-inverse">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {{#link-to 'index' invokeAction=(action 'track' 'homepage') class='share-logo'}}
      <img class='navbar-logo' height='35px' width='auto' src='assets/images/nav_logo.png'>
      <span class="share hidden-xs"> S H A R E</span>
    {{/link-to}}
  </div>

  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
        {{link-to 'Discover' 'discover' class='nav-link' }}
      </li>
      <li>
        <a class="nav-link" href="https://osf.io/cpsin/wiki/home/?view">FAQ</a>
      </li>

      {{#if session.isAuthenticated}}
        <li class="dropdown">
          <a class="nav-user-dropdown" role="button" data-toggle="dropdown">
            <span class="gravatar">
              <img class="img-circle" src={{gravatarSrc}}>
            </span>
            <span class="username">{{userName}}</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>{{#link-to 'profile' invokeAction=(action 'track' 'my profile')}}<i class="fa fa-user" aria-hidden="true"></i> My Profile{{/link-to}}</li>
              {{!-- TODO: remove curationEnabled check when curation is enabled on production --}}
              {{#if curationEnabled}}
                <li>{{link-to 'Changes' 'changes' class='nav-link'}}</li>
              {{/if}}
              <li><a {{action 'logout'}}><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a></li>
              <!--  {{#link-to 'settings'}}<i class="fa fa-cog" aria-hidden="true"></i> Settings{{/link-to}} -->
            </ul>
        </li>
      {{else}}
        <li>
          <a class="btn btn-info navbar-btn login-btn" {{action 'login'}}>Sign in with OSF</a>
        </li>
      {{/if}}
    </ul>
</div>
</div>
</div>
