<div class='navbar'>
  <div class="container">
    <img class='navbar-logo' height='35px' width='auto' src='assets/images/nav_logo.png'>
    <a class="share" {{link-to '/'}}> S H A R E</a>
    {{#if session.isAuthenticated}}

      <div class="btn-group">
        <button class="hello-text" role="button" data-toggle="dropdown">

          <img class='img-circle gravatar' src={{gravatarSrc}}>
          <span class="username">{{userName}}</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a {{link-to '/profile/'}}><i class="fa fa-user" aria-hidden="true"></i> My Profile</a>
            <a {{link-to '/support/'}}><i class="fa fa-life-ring" aria-hidden="true"></i> Support</a>
            <a {{link-to '/settings/'}}><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
            <a {{action 'logout'}}><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a>
          </li>
        </ul>
      </div>

        {{link-to 'Changes' 'changes' class='nav-link'}}
    {{else}}
        <button class='btn btn-info log-button' {{action 'login'}}>Login</button>
    {{/if}}
    {{link-to 'Discover' 'discover' class='nav-link' }}

<div class="container-fluid">
  <div class="navbar-header">
    {{#link-to 'index' class="navbar-brand"}}
        <img height='35px' width='auto' src='assets/images/nav_logo.png'>
    {{/link-to}}
  </div>
  <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li>{{link-to 'Discover' 'discover' class='nav-link'}}</li>
        {{#if session.isAuthenticated}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="gravatar">
                <img class='img-circle gravatar' src={{gravatarSrc}}>
              </span>
              {{userName}}
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li>{{link-to 'Changes' 'changes' class='nav-link'}}</li>
              <li><input type="text" style="margin: 5px" value={{session.data.userData.token}}></li>
              <li><a {{action 'logout'}}>Logout</a></li>
            </ul>
          </li>
        {{else}}
            <form class="navbar-form navbar-left" role="search">
                <button class='btn btn-info log-button' {{action 'login'}}>Login</button>
            </form>
        {{/if}}
      </ul>
  </div>
</div>
