<div class='title-container'>
    <div class='container'>
        <div>
            <label>Family name</label>
            {{curate-field-text text=person.familyName
            onChange=(action 'fieldChanged' 'familyName') }}
        </div>
        <div>
            <label>Given name</label>
            {{curate-field-text text=person.givenName
            onChange=(action 'fieldChanged' 'givenName')}}
        </div>
        <div>
            <label>Additional name</label>
            {{curate-field-text text=person.additionalName
            onChange=(action 'fieldChanged' 'additionalName')}}
        </div>
        <div>
            <label>Suffix</label>
            {{curate-field-text text=person.suffix
            onChange=(action 'fieldChanged' 'suffix')}}
        </div>
    </div>
</div>
<div class='body-container'>
<div class='container'>
    <div>
        <label>Location</label>
        {{curate-field-text text=person.location
        onChange=(action 'fieldChanged' 'location')}}
    </div>
    <div>
        <label>URL</label>
        {{curate-field-text text=person.url
        onChange=(action 'fieldChanged' 'url')}}
    </div>
    <div>
        {{#if person.affiliations}}
        <h4>Affiliations</h4>
        {{curate-field-list list=person.affiliations
        listItem='curate-list-affiliation'
        onChange=(action 'listChanged' 'affiliations')}}
        {{/if}}
    </div>
    <div>
        {{#if person.identifiers}}
        <h4>Identifiers</h4>
        {{curate-field-list list=person.identifiers
        listItem='curate-list-identifier'
        onChange=(action 'listChanged' 'identifiers')}}
        {{/if}}
    </div>
    <div class='row'>
    <button class='btn btn-default' {{action 'submitChanges'}}>
        Submit Changes
    </button>
    </div>
</div>
<div class='container'>
    <h3>Potential Merges</h3>
    {{merge-widget obj=person _type='person'}}
</div>
</div>
