<div class='row'>
    {{search-facet-worktype-button type='publication' label='Publication'
        selectedType=selectedType onClick=(action 'change')}}
    {{search-facet-worktype-button type='preprint' label='Preprint'
        selectedType=selectedType onClick=(action 'change')}}
</div>
<div class='row'>
    {{search-facet-worktype-button type='project' label='Project'
        selectedType=selectedType onClick=(action 'change')}}
    {{search-facet-worktype-button type='registration' label='Registration'
        selectedType=selectedType onClick=(action 'change')}}
    {{search-facet-worktype-button type='creativework' label='Other'
        selectedType=selectedType onClick=(action 'change')}}
</div>
