<div class='row'>
    <h3 class='title'>
        {{curate-field-text text=work.title
        onChange=(action 'fieldChanged' 'title')}}
    </h3>
</div>
<div class='row'>
    <div class='col-sm-6'>
        {{curate-field-list list=work.contributors
        listItem='curate-list-contributor'
        itemType='person'
        placeholder='Add a contributor'
        onChange=(action 'listChanged' 'contributors')}}
    </div>
</div>
<div class='row'>
    <div class='description'>
        {{curate-field-text text=work.description
        onChange=(action 'fieldChanged' 'description')}}
    </div>
</div>
<div class='row'>
    <div class='col-sm-6'>
        {{curate-field-list list=work.tags
        listItem='curate-list-tag'
        itemType='tag'
        placeholder='Add a tag'
        onChange=(action 'listChanged' 'tags')}}
    </div>
</div>
<div class='row'>
    <button class='btn btn-default pull-right' {{action 'submitChanges'}}>
        Submit Changes
    </button>
</div>
