<div class="title-container">
  <div class="container">
    <h1 class="title">
      {{curate-field-text text=work.title onChange=(action 'fieldChanged' 'title')}}
    </h1>
    <p>
      {{curate-field-text text=work.description onChange=(action 'fieldChanged' 'description')}}
    </p>
  </div>
</div>


<div class="container">
      <div class='row'>
          {{curate-field-list list=work.contributors
          listItem='curate-list-contributor'
          itemType='person'
          field='Contributors'
          placeholder='Add a contributor'
          onChange=(action 'listChanged' 'contributors')}}
      </div>
      <div class='row'>
          {{curate-field-list list=work.links row=true
            listItem='curate-list-link'
            itemType='link'
            field='Links'
            placeholder='Add a link'
            onChange=(action 'listChanged' 'links')}}
      </div>
      <div class='row'>
          {{curate-field-list list=work.tags
          listItem='curate-list-tag'
          itemType='tag'
          placeholder='Add a tag'
          onChange=(action 'listChanged' 'tags')}}
      </div>

      <div class='row' style='padding-topL: 5px'>
        <button class='btn btn-default pull-right' {{action 'submitChanges'}} disabled={{not changed}}>
          Submit Changes
        </button>
      </div>
      {{#if previousChanges}}
      <h4> Previous Changes: </h4>
      {{#each previousChanges as |change|}}
        {{change-widget obj=change}}
      {{/each}}
      {{/if}}

      <h4>Potential Merges</h4>
      {{merge-widget obj=work _type='abstractcreativework'}}
</div>
