<div class="title-container">
    <div class="container">
        <h1 class="title">
            {{curate-field-text text=work.title onChange=(action 'fieldChanged' 'title')}}
        </h1>
        <p>
            {{curate-field-text text=work.description onChange=(action 'fieldChanged' 'description')}}
        </p>
    </div>
</div>


<div class="container">
    {{curate-field-list list=work.contributors
    listItem='curate-list-contributor'
    itemType='person'
    field='Contributors'
    placeholder='Add a contributor'
    onChange=(action 'listChanged' 'contributors')}}

    {{curate-field-list list=work.tags
    listItem='curate-list-tag'
    field='Tags'
    itemType='tag'
    placeholder='Add a tag'
    onChange=(action 'listChanged' 'tags')}}

    {{#if session.isAuthenticated}}
        <div class='row' style='padding-topL: 5px'>
            <button class='btn btn-default pull-right' {{action 'submitChanges'}} disabled={{not changed}}>
                Submit Changes
            </button>
        </div>
    {{/if}}
    <div class="row">
        <div class="col-xs-12">
            <h3>Links</h3>
        </div>
    </div>
    {{#each work.links as |item|}}
        <div><a href='{{item.url}}' style='font-size: 150%'>{{item.url}}</a></div>
    {{/each}}
    <div class="row">
        <div class="col-xs-12">
            <h3>Extra</h3>
            {{json-pretty
                obj=work.extra
                shouldHighlight=true
            }}
        </div>
    </div>

    {{#if work.changes}}
        <div class='row'>
            <h3> Previous Changes: </h3>
            {{#each work.changes as |change|}}
                {{change-widget obj=change}}
            {{/each}}
        </div>
    {{/if}}

    <h4>Potential Merges</h4>
    {{merge-widget obj=work _type='abstractcreativework' onMerge=(action 'merge')}}
</div>
