<h3 class='title'>
    {{curate-field-text work=work field='title' onChange=(action 'fieldChanged')}}
</h3>
<div class='description'>
    {{curate-field-text work=work field='description' onChange=(action 'fieldChanged')}}
</div>
{{curate-field-text work=work field='providerLink' onChange=(action 'fieldChanged')}}

{{curate-field-list work=work field='funders' onChange=(action 'listChanged')}}

<button class='btn btn-default' {{action 'submitChanges'}}>Submit Changes</button>
