{{status-board-breadcrumb}}


<div class="clearfix">
  <a href="#" class="left btn" {{action "prevPage"}}>&lt; Prev</a>
  <a href="#" class="right btn" {{action "nextPage"}}>Next &gt;</a>
</div>

<h3 align="left" class="text-muted" style="font-size:5rm; font-family:courier;"></h3>
<h1 align="center" class="text-muted" style="font-size:5rm; font-family:courier;">{{label}}</h1>


<div>
	<style>

	table, th, td {
		padding: 3rem;
		padding-top: 2rem;
		border-bottom: solid #d9d9d9;
	}
	th {
		font-family:Courier;
		font-size: 2rem;
		color: #0099ff;
		padding-bottom: 2px;
	}
	td{
		font-family:courier;
		font-size: 2rem;
	}
	</style>

		<table style="width:95%" align="center" class="table">
			<tr>

				<th>STATUS</th>
				<th>CONTEXT</th>
				<th>HARVEST LOG ID</th>
				<th>DATE STARTED</th>
				<th>DATE ENDED</th>
				<th>SHARE VERSION</th>
			</tr>

		{{#each model as |hl|}}
<tr>

	<td>
	{{#link-to "status.source-detail.log-detail" hl}}
		{{#status-emoji status=hl.status}}
		{{/status-emoji}}
	{{/link-to}}
	</td>
	<td>
		{{#status-context status=hl.status}}{{/status-context}}
	</td>

	<td>{{hl.id}}</td>
	<td>{{hl.startDate}}</td>
	<td>{{hl.endDate}}</td>
	<td>{{hl.harvesterVersion}}</td>

</tr>
{{/each}}
</table>
</div>
