<button class="btn btn-sm btn-default" disabled={{atFirstPage}} title='Previous Page' {{action 'previousPage'}}>
    <i class="fa fa-angle-left"></i>
    Previous
</button>
<span>Page {{page}} of {{totalPages}}</span>
<button class="btn btn-sm btn-default" disabled={{atLastPage}} title='Next Page' {{action 'nextPage'}}>
    Next
    <i class="fa fa-angle-right"></i>
</button>
