<div class="registration-container container">
    {{#if session.isAuthenticated}}
      {{#if numberOfRegistrations}}
        <br>
        <div class="alert alert-info" role="alert">
          You have already submitted a source registration form. To check on the status of
          your submission(s), visit your
          <b>
          {{#link-to 'profile' invokeAction=(action 'track' 'check submisstion status')}}profile page{{/link-to~}}.
          </b>
          Affiliated with multiple sources? Submit another.
        </div>
      {{/if}}
            <div class="form-group row">
                <div class="col-xs-12 registration-form">
                    <h1 class="registration-title">Source Registration Form</h1>
                    {{#if (not-eq formState 'Source Type')}}
                        {{progress-tracker sections=sections active=formState}}
                    {{/if}}
                    {{#form-for model submit=(action 'submit') as |f|}}
                        {{#if (eq formState 'Source Type')}}
                            <hr class="registration-title-line bg-info">
                            <section class="registration-section">
                                <h4 class="registration-section-title">
                                    How would you like to include your organization’s data in SHARE?
                                </h4>
                                {{
                                    f.radio-field
                                    "directSource"
                                    true
                                    label="We want to push directly into the SHARE database
                                          using the API."
                                    fieldClasses="form-group"
                                }}
                                {{
                                    f.radio-field
                                    "directSource"
                                    false
                                    label="We want our metadata to be harvested by SHARE."
                                    fieldClasses="form-group"
                                }}
                            </section>
                        {{else if (eq formState 'Contact Information')}}

                            <span class="registration-dots"></span>
                            <section class="registration-section">
                                <h4 class="registration-section-title">
                                    Who can we be in touch with about your registration?
                                </h4>
                                {{
                                    f.text-field
                                    "contactName"
                                    label="Name"
                                    required=true
                                    fieldClasses="form-group"
                                    labelClasses="registration-field-group"
                                    inputClasses="form-control"
                                }}
                                {{
                                    f.email-field
                                    "contactEmail"
                                    label="Email"
                                    required=true
                                    fieldClasses="form-group"
                                    labelClasses="registration-field-group"
                                    inputClasses="form-control"
                                }}
                                {{
                                    f.text-field
                                    "contactAffiliation"
                                    required=true
                                    placeholder="Ex. Colorado University Librarian"
                                    fieldClasses="form-group"
                                    labelClasses="registration-field-group"
                                    inputClasses="form-control"
                                }}
                            </section>

                        {{else if (eq formState 'Source Information')}}

                            <span class="registration-dots"></span>
                            <section class="registration-section">
                                {{
                                    f.text-field
                                    "sourceName"
                                    required=true
                                    fieldClasses="form-group"
                                    labelClasses="registration-field-group"
                                    inputClasses="form-control"
                                }}
                                {{
                                    f.textarea-field
                                    "sourceDescription"
                                    required=true
                                    fieldClasses="form-group"
                                    labelClasses="registration-field-group"
                                    inputClasses="form-control"
                                    rows=6
                                }}

                                {{
                                    f.url-field
                                    "sourceBaseUrl"
                                    label="Base URL"
                                    hint="If you're entering an OAI-PMH source, include
                                          everything before the \"?\" in the base url."
                                    required=true
                                    labelClasses="registration-field-group"
                                    inputClasses="form-control"
                                }}
                                <p class="registration-example help-block">
                                    Example: http://repository.stcloudstate.edu/do/oai/
                                </p>
                                <p class="registration-example help-block registration-field-bottom">
                                    Not: http://repository.stcloudstate.edu/do/oai/?verb=ListRecords
                                </p>
                            </section>

                        {{else if (eq formState 'Source Details')}}

                            <span class="registration-dots"></span>
                            <section class="registration-section">

                                {{
                                    f.checkbox-field
                                    "sourceOAI"
                                    label="This source follows OAI-PMH standards."
                                    hint="Preferred metadata prefix is \"oai_dc\"."
                                    fieldClasses="form-group"
                                }}
                                {{
                                    f.text-field
                                    "sourceRateLimit"
                                    label="If there are rate limits for requests from
                                          your service, please list them below."
                                    hint="Example: 1 request/second"
                                    placeholder="(Optional)"
                                    fieldClasses="form-group"
                                    labelClasses="registration-field-group"
                                    inputClasses="form-control"
                                }}
                                {{
                                    f.text-field
                                    "sourcePreferredMetadataPrefix"
                                    label="Preferred Metadata Prefix"
                                    hint="The metadata prefix that provides the most
                                          complete metadata."
                                    placeholder="(Optional)"
                                    fieldClasses="form-group"
                                    labelClasses="registration-field-group"
                                    inputClasses="form-control"
                                }}
                                {{
                                    f.text-field
                                    "sourceDocumentation"
                                    label="If your organization's API has documentation
                                            online, please enter the URL below."
                                    placeholder="(Optional)"
                                    fieldClasses="form-group"
                                    labelClasses="registration-field-group"
                                    inputClasses="form-control"
                                }}

                                <label>Disapproved Sets</label>
                                <br>
                                <p class="help-block">
                                    If you would like SHARE to <u>ignore</u> certain sets, please
                                    list the setNames for the corresponding setSpec options. Any
                                    set NOT listed here will be included in SHARE.
                                    {{#if (and registration.sourceBaseUrl registration.sourceOAI)}}
                                        To see your source's ListSets, visit
                                        <a>{{registration.sourceBaseUrl}}?verb=ListSets</a>.
                                        Displayed here are the setNames for the corresponding setSpec options
                                        in your publically accessable database.
                                    {{/if}}
                                </p>
                                {{
                                    f.text-field
                                    "sourceDisallowedSets"
                                    placeholder="(Optional)"
                                    fieldClasses="form-group"
                                    labelClasses="registration-hide-label"
                                    inputClasses="form-control"
                                }}
                                {{
                                    f.textarea-field
                                    "sourceAdditionalInfo"
                                    label="Is there anything else we should know to harvest
                                          from your source?"
                                    placeholder="(Optional)"
                                    fieldClasses="form-group"
                                    labelClasses="registration-field-group"
                                    inputClasses="form-control"
                                    rows=6
                                }}

                            </section>

                        {{else if (eq formState 'Metadata Sharing')}}

                            <section class="registration-section">
                                <div class="well">
                                    <p>Metadata gathering does not violate my organization's Terms of Service.</p>

                                    <p>Metadata gathering does not violate my organization's Privacy Policy.</p>

                                    <p>Distributing this metadata does not violate my
                                            organization's Terms of Service or Privacy Policy.</p>

                                    <p>I understand and acknowledge that the metadata my
                                          organization provides will be redistributed by SHARE.</p>

                                    <p>I have the right to acknowledge the above statements
                                            for my organization.</p>
                                </div>

                                {{input type="checkbox" name="canSubmit" checked=canSubmit}}
                                <label>
                                    By checking the box you are confirming the above statements are true
                                </label>
                                <p class="form-text help-block">
                                    Please note these statements only apply to the metadata in your API,
                                    not to the research objects themselves.
                                </p>
                            </section>
                            {{#if formErrors}}
                                <hr>
                                <section class="registration-section">
                                    <h2 class="registration-section-header text-danger">Errors</h2>

                                    <div class="col-xs-12 bg-danger registration-form-errors">
                                        <div>
                                            <span class="fa fa-exclamation-circle"></span>
                                            There are some errors with your registration. Click the ‘Back’
                                            button and correct any fields highlighted in red.
                                        </div>
                                    </div>

                                    <div class="well registration-db-errors">
                                        {{#each formErrors as |error|}}
                                            {{error.attribute}}: {{error.message}}
                                            <br>
                                        {{/each}}
                                    </div>
                                </section>
                            {{/if}}
                            {{#if dbErrors}}
                                <hr>
                                <section class="registration-section">
                                    <h2 class="registration-section-header text-danger">Errors</h2>
                                    <div class="row">
                                        <span class="col-xs-12 text-danger">
                                            There was an error submitting your form. If this should not have occurred
                                            and the issue persists, please report it to support@osf.io.
                                        </span>
                                    </div>
                                    <div class="well registration-db-errors">
                                        {{#each-in dbErrors.errors as |field errors|}}
                                            {{field}}:
                                            {{#each-in errors as |index error|}}
                                                {{error}}
                                            {{/each-in}}
                                        {{/each-in}}
                                    </div>
                                </section>
                            {{/if}}
                        {{/if}}
                        <br>
                        {{#if (not-eq formState 'Source Type')}}
                            <button class="btn btn-default pull-left" {{action "back"}}>Back</button>
                        {{/if}}
                        {{#if (not-eq formState 'Metadata Sharing')}}
                            <button class="btn btn-info pull-right" {{action "next"}}>Next</button>
                        {{else}}
                            {{
                                f.submit
                                "Register to become a SHARE source"
                                class="btn btn-success pull-right"
                                disabled=disableSubmit
                            }}
                        {{/if}}
                    {{/form-for}}
                </div>
            </div>
    {{else}}
        {{suggest-login message="register as a SHARE source"}}
    {{/if}}
</div>
