<h4>
    <a href="">
        {{obj.title}}
    </a>
</h4>
<div class="row">
    <div class="col-md-7">
        <span class="pull-left" style="text-align: left">
            {{#each obj.contributors as |contrib index|}}
                {{#if index}}
                 -
                {{/if}}
                {{#link-to 'curate.person' contrib.id}}
                    {{contrib.familyName}}
                {{/link-to}}
            {{/each}}
        </span>
    </div>
    <div class="col-md-5">
        <span class="pull-right" style="text-align: right">
            {{#each obj.tags as |tag|}}
                <span class='tag'>
                    {{tag}}
                </span>
            {{/each}}
        </span>
    </div>
</div><br>
<div>
    {{abbreviation}}
</div><br>
<div>
  {{#link-to "curate.work" obj.workType obj.id}}Curate{{/link-to}} | <a href="http://localhost:9200/share/document/{{obj.id}}">Data</a>
</div>
<hr>
