{{#if obj.date_published}}
    <div class="row">
        <span class="col-sm-3 pull-right text-info" style="text-align: right">
            <span class="text-muted">Published </span>{{moment-format obj.date_published 'YYYY'}}
        </span>
    </div>
{{/if}}
<div class="row">
    <h4 class="col-sm-11 redirect">
        {{#link-to "curate.work" obj.type obj.id}}
            {{#if obj.title}}
                {{obj.title}}
            {{else}}
                <i class="no-title">Title not provided</i>
            {{/if}}
        {{/link-to}}
    </h4>
</div>
{{#if contributors}}
    <div class="row">
        <div class="col-xs-12">
            <span class="pull-left redirect" style="text-align: left">
                {{#each contributors as |contrib index|}}
                    {{#if index}}
                        -
                    {{/if}}
                    {{#link-to 'curate.person' contrib.id}}
                        {{contrib.family_name}}
                    {{/link-to}}
                {{/each}}
                {{#if extra_contributors}}
                    <span class="text-muted">+{{extra_contributors}}</span>
                {{/if}}
            </span>
        </div>
    </div>
{{/if}}
{{#if abbreviation}}
    <div class="row description">
        <div class="col-sm-12">
            {{abbreviation}}
            {{#if abbreviated}}
                <span class="text-muted">...</span>
            {{/if}}
        </div>
    </div>
{{/if}}
<br>
{{#if tags}}
    <div class="row tags">
        <div class="col-xs-12">
            {{#each tags as |tag|}}
                <a class='tag filter' {{action 'addFilter' 'tag' tag}}>
                    {{tag}}
                </a>
            {{/each}}
            {{#if extra_tags}}
                <span class="text-muted">+{{extra_tags}}</span>
            {{/if}}
        </div>
    </div>
{{/if}}
<div class="row extra">
    <div class="col-sm-12">
        <span class="text-muted"> Aggregated from </span>
        {{#each obj.source as |source index|}}
            {{#if index}}
                ,
            {{/if}}
            <a class="filter" {{action 'addFilter' 'source' source}}>{{source}}</a>
        {{/each}}
        <span class="text-muted"> as a </span>
        <a class="filter" {{action 'addFilter' 'type' obj.type}}>{{obj.type}}</a>
    </div>
</div>
{{#if (or obj.organizations obj.institutions)}}
    <div class="row extra">
        <div class="col-xs-12">
            <span class="text-muted">Affiliated with </span>
            {{#each obj.organizations as |organization index|}}
                {{#if index}}
                    ,
                {{/if}}
                <a class="filter" {{action 'addFilter' 'organization' organization.name}}>
                    {{organization.name}}
                </a>
            {{/each}}
            {{#if (and obj.organizations obj.institutions)}}, {{/if}}
            {{#each obj.institutions as |institution|}}
                <a class="filter" {{action 'addFilter' 'institution' institution.name}}>
                    {{institution.name}}
                </a>
            {{/each}}
        </div>
    </div>
{{/if}}
{{#if obj.funders}}
    <div class="row extra">
        <div class="col-xs-12">
            <span class="text-muted">Funded by </span>
            {{#each obj.funders as |funder|}}
                {{#if index}}
                    ,
                {{/if}}
                <a class="filter" {{action 'addFilter' 'funder' funder.name}}>
                    {{funder.name}}
                </a>
            {{/each}}
        </div>
    </div>
{{/if}}
<div class="row extra">
    <div class="col-xs-8">
        {{#if obj.publishers}}
            <span class="pull-left" style="text-align: left">
                <span class="text-muted">Published by </span>
                {{#each obj.publishers as |publisher|}}
                    <a class="filter" {{action 'addFilter' 'publisher' publisher.name}}>
                        {{publisher.name}}
                    </a>
                {{/each}}
                {{#if obj.date_published}}
                    <span class="text-muted"> in </span>
                    {{moment-format obj.date_published 'MMM YYYY'}}
                {{/if}}
            </span>
        {{/if}}
    </div>
    <div class="col-xs-4 extra">
        {{#if obj.date_updated}}
            <span class="pull-right text-muted" style="text-align: right">
                Last updated <span class="text-info">{{moment-format obj.date_updated 'MM-DD-YYYY'}}</span>
            </span>
        {{/if}}
    </div>
</div>
<div>
</div>
<hr>
