<div class="title-tile">
    {{#if obj.retracted}}
        <div class="row">
            <div class='col-xs-12'>
                <span class='retraction-alert bg-warning text-warning'>
                    {{fa-icon 'exclamation-triangle'}} This work has been retracted. {{link-to 'View retraction notice' 'detail' 'retraction' retractionId}}
                </span>
            </div>
        </div>
    {{/if}}
    <div class="row title">
        <h4 class="col-xs-10 redirect">
            {{#link-to 'detail' (slug obj.type) obj.id}}
                {{#if safeTitle}}
                    {{{safeTitle}}}
                {{else}}
                    <i class="no-title">Title not provided</i>
                {{/if}}
            {{/link-to}}
        </h4>
        <div class="col-xs-2 pull-right text-right default-cursor worktype">
            <span class="type-label">
                {{type}}
            </span>
        </div>
    </div>
</div>
{{#if creators}}
    <div class="row default-line-padding default-cursor">
        <div class="col-xs-12">
            <span class="pull-left redirect text-left">
                {{#each creators as |creator index|}}
                    {{#if index}}
                        -
                    {{/if}}
                    {{#link-to 'detail' (slug creator.type) creator.id}}
                        {{if creator.cited_as creator.cited_as creator.name}}
                    {{/link-to}}
                {{/each}}
                {{#if extraCreators}}
                    <span class="text-muted">+{{extraCreators.length}}</span>
                {{/if}}
            </span>
        </div>
    </div>
{{/if}}
{{#if abbreviation}}
    <div class="row default-line-padding default-cursor">
        <div class="col-sm-12">
            {{{abbreviation}}}
            {{#if abbreviated}}
                <span class="text-muted description-ellipsis">...</span>
            {{/if}}
        </div>
    </div>
{{/if}}
{{#if tags}}
    <div class="row default-line-padding default-cursor">
        <div class="col-xs-12">
            {{#each tags as |tag|}}
                <span class='tag'>
                    {{tag}}
                </span>
            {{/each}}
            {{#if extraTags}}
                <span class="text-muted">+{{extraTags.length}}</span>
            {{/if}}
        </div>
    </div>
{{/if}}
{{#if (or obj.date_published obj.publishers)}}
    <div class="row date-line-padding">
        <div class="col-xs-12 default-cursor">
            {{#if obj.date_published}}
                <span class="pull-left text-data text-left default-cursor">
                    <span class="text-muted">Published </span>{{datePublished}}
                </span>
            {{/if}}
            {{#if obj.publishers}}
                <span class="text-info">
                    {{#if obj.date_published}}
                        <span class="published text-muted"> by </span>
                    {{else}}
                        <span class="text-muted">Published by </span>
                    {{/if}}
                    {{#each obj.publishers as |publisher|}}
                        {{#link-to 'detail' (slug publisher.type) publisher.id}}
                            {{publisher.name}}
                        {{/link-to}}
                    {{/each}}
                </span>
            {{/if}}
        </div>
    </div>
{{/if}}
{{#if obj.date_updated}}
    <div class="row date-line-padding">
        <div class="col-xs-12 default-cursor">
            <span class="text-muted last-updated">
                Last updated <span class="text-data">{{dateUpdated}}</span>
            </span>
        </div>
    </div>
{{/if}}
<div class="row date-line-padding default-cursor">
    <div class="col-xs-12">
        <span class="text-muted last-updated">
            Last ingested <span class="text-data">{{moment-format obj.date_modified 'MMM DD, YYYY'}}</span> from
            {{#if (gt obj.sources.length 1)}}
                one of
            {{/if}}
            <span class="text-muted">
                {{#each obj.sources as |source index|}}
                    {{#if index}}
                        ,
                    {{/if}}
                    <span class="source-text">
                        {{source}}
                    </span>
                {{/each}}
            </span>
        </span>
    </div>
</div>
