<div class="title-tile">
    {{#if obj.retracted}}
        <div class="row">
            <div class='col-xs-12'>
                <span class='retraction-alert bg-warning text-warning'>
                    {{fa-icon 'exclamation-triangle'}} This work has been retracted. {{link-to 'View retraction notice' 'detail' 'retraction' retractionId}}
                </span>
            </div>
        </div>
    {{/if}}
    <div class="row">
        <div class="col-xs-6 pull-left worktype text-left">
            <div class="worktype-inner">
                <a class="filter typefilter" {{action 'addFilter' 'type' obj.type}}>
                    {{type}}
                </a>
            </div>
        </div>
        {{#if obj.date_published}}
            <span class="col-xs-6 pull-right text-data text-right default-cursor">
                <span class="text-muted">Published </span>{{datePublished}}
            </span>
        {{/if}}
    </div>
    <div class="row title">
        <h4 class="col-sm-11 redirect">
            {{#link-to 'detail' (slug obj.type) obj.id}}
                {{#if safeTitle}}
                    {{{safeTitle}}}
                {{else}}
                    <i class="no-title">Title not provided</i>
                {{/if}}
            {{/link-to}}
        </h4>
    </div>
    {{#if creators}}
        <div class="row default-cursor">
            <div class="col-xs-12">
                <span class="pull-left redirect text-left">
                    {{#each creators as |creator index|}}
                        {{#if index}}
                            -
                        {{/if}}
                        {{#link-to 'detail' (slug creator.type) creator.id}}
                            {{if creator.cited_as creator.cited_as creator.name}}
                        {{/link-to}}
                    {{/each}}
                    {{#if extraCreators}}
                        <span class="text-muted">+{{extraCreators.length}}</span>
                    {{/if}}
                </span>
            </div>
        </div>
    {{/if}}
</div>
{{#if abbreviation}}
    <div class="row description default-cursor">
        <div class="col-sm-12">
            {{{abbreviation}}}
            {{#if abbreviated}}
                <span class="text-muted">...</span>
            {{/if}}
        </div>
    </div>
{{/if}}
{{#if tags}}
    <div class="row default-cursor">
        <div class="col-xs-12">
            {{#each tags as |tag|}}
                <span class='tag'>
                    {{tag}}
                </span>
            {{/each}}
            {{#if extraTags}}
                <span class="text-muted">+{{extraTags.length}}</span>
            {{/if}}
        </div>
    </div>
{{/if}}
<div class="row extra">
    <div class="col-xs-6 default-cursor">
        {{#if obj.date_updated}}
            <span class="text-muted last-updated">
                Last updated <span class="text-data">{{dateUpdated}}</span>
            </span>
        {{/if}}
    </div>
    <div class="col-xs-6 pull-right text-info default-cursor">
        {{#if obj.publishers}}
            <span class="pull-right published text-right">
                <span class="text-muted">Published by </span>
                {{#each obj.publishers as |publisher|}}
                    <a class="filter" {{action 'addFilter' 'publishers' publisher.name}}>
                        {{publisher.name}}
                    </a>
                {{/each}}
            </span>
        {{/if}}
    </div>
</div>
<div class="row extra default-cursor">
    <div class="col-xs-12">
        {{#if obj.date_created}}
            <span class="text-muted last-updated">
                Last ingested <span class="text-data">{{moment-format obj.date_modified 'MMM DD, YYYY'}}</span> from
                {{#if (gt obj.sources.length 1)}}
                    one of
                {{/if}}
                <span class="text-info">
                    {{#each obj.sources as |source index|}}
                        {{#if index}}
                            ,
                        {{/if}}
                        <a class="filter" {{action 'addFilter' 'sources' source}}>
                            {{source}}
                        </a>
                    {{/each}}
                </span>
            </span>
        {{/if}}
    </div>
</div>
