<div class='row'>
<h3>{{field}}</h3>
  <ul class="list-group">
    <!-- <li class="list-group-item list-group-header">{{field}}</li> -->
      {{#each displayList as |item|}}
        {{component listItem item=item edit=edit remove=(action 'remove')}}
      {{/each}}
    </ul>
    {{#if edit}}
        {{!TODO search for and add items}}
        {{fa-icon 'times' click=(action 'cancel')}}
    {{else}}
        {{fa-icon 'magic' click=(action 'edit')}}
    {{/if}}
</div>
{{#if edit}}
    <div class='row'>
        {{#power-select
            search=(action "elasticSearch")
            placeholder=placeholder
            selected=selected
            onchange=(action "changeFilter")
            as |option|
        }}
            {{option._source.text}}
        {{/power-select}}
    </div>
{{/if}}
