{{#if list}}
<div class="row">
  <div class="col-xs-12">
    <h3>{{field}} {{#unless edit}}{{fa-icon 'edit' click=(action 'edit')}}{{/unless}} </h3>
  </div>
</div>
<div class="row">
      {{#each displayList as |item|}}
      {{#unless row}}
        <div class='col-xs-3'>
            {{component listItem item=item edit=edit remove=(action 'remove')}}
        </div>
        {{else}}

        <div>
            {{component listItem item=item edit=edit remove=(action 'remove')}}
        </div>
        {{/unless}}
      {{/each}}
{{#if edit}}
        <div class='col-xs-11' style='padding-top: 10px'>
        {{#power-select
            search=(action "elasticSearch")
            placeholder=placeholder
            selected=selected
            onchange=(action "changeFilter")
            as |option|
        }}
            {{option._source.text}}
        {{/power-select}}
        </div>
        <div class='col-xs-1'>
        {{#if edit}}
            {{!TODO search for and add items}}
            <div style='font-size: 150%;'>
                {{fa-icon 'times' click=(action 'cancel')}}
            </div>
        {{/if}}
        </div>
{{/if}}
</div>
{{/if}}
