{{title model.name}}

<div class="title-container">
    <div class="container">
        <div class="detail-back-arrow-block">
          <a class="detail-back-arrow" {{action "goBack"}}>
            <span class="fa fa-arrow-left"></span>
          </a>
        </div>
        <div class="jumbotron">
            <h1 class="title">
                {{#if avatar}}
                    <img class="img-circle" src={{avatar.uri}} style="margin-right: 5px; height: 80px;">
                {{/if}}
                {{model.name}}
                <br>
                <small>{{model.type}}</small>
            </h1>
        </div>
    </div>
</div>

<div class="container detail-bottom-padding">
    <br>

    {{#each sections as |section|}}
        {{#if (get this section.value)}}
            <div class='row'>
                <br>
                <h3>{{section.title}}</h3>
                <hr class="detail-section-divider">
                {{component section.component model=model data=(get this section.value)}}
            </div>
        {{/if}}
    {{/each}}

    {{#if hasExtra}}
        <br>
        <h3>Additional Information
            <small>
                <a {{action 'toggleExtra'}} href="#">
                    {{#if showExtra}}
                        <i class="fa fa-caret-down"></i>
                    {{else}}
                        <i class="fa fa-caret-left"></i>
                    {{/if}}
                </a>
            </small>
        </h3>
        <hr class="deatil-section-divider">
        {{#if showExtra}}
            {{json-pretty obj=model.extra shouldHighlight=true}}
        {{/if}}
    {{/if}}
</div>
