{{outlet}}
<ul class="breadcrumb">
	<li>{{#link-to "status-board"}}Status-Board{{/link-to}}</li>
  <li>{{#link-to "harvestloglist" model.sourceConfig.label model.sourceConfig.id}}Harvest-Log-List{{/link-to}}</li>
	<li>{{model.id}}</li>
</ul>
{{log label}}
{{log id}}
{{log model}}
<h1 align="center" style="font-size:4rem; font-family:courier;">{{model.id}}</h1>

<h1 align="center" style="font-size:4rem; font-family:courier;">
	{{#status-emoji status=model.status}}{{/status-emoji}}
</h1>

<h1 align="center" style="font-size:3rem; font-family:courier;">
	{{#status-context status=model.status}}{{/status-context}}
</h1>

<h2 style="font-size:2rem; padding: 8px; width: 95%; margin-left: 20px; line-height: 130%; background-color: #F8F8F8" >
  {{model.context}}
</h2>

	<style>
	ul.breadcrumb{
		padding: 10px;
		list-style: none;
		background-color: #eee;
		font-size: 17px;
	}
	ul.breadcrumb li {display: inline;}
	ul.breadcrumb li+li:before {
			padding: 8px
			color: black;
			content: "/\00a0";
	}
	ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
	}
	ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
	}
  </style>
