<div class='col-sm-3'>
{{faceted-search onChange='queryChanged' facets=(hash
    institution=(hash title='Institution' choices=model.institutions)
    funder=(hash title='Funder' choices=model.funders)
    tag=(hash title='Tag' choices=model.tags)
    venue=(hash title='Venue' choices=model.venues)
    award=(hash title='Award' choices=model.awards)
    dataProvider=(hash title='Data Provider' choices=model.dataProviders)
    )
}}
</div>
<div class='col-sm-9'>
    {{input value=searchString}}<button {{action 'search' searchString query}}>Search!</button>
    {{#each searchData as |obj|}}
        {{search-result obj=obj}}
    {{/each}}
    <button {{action 'next'}}> More </button>
</div>
