<div class="container">
  <div class="header" >
    <div class="row share-search">
      {{search-header}}
        <div class="col-xs-8 col-xs-offset-2">
            {{input class="form-control" value=searchString key-up='typing'}}
        </div>
        <div class="col-xs-2">
            <a href="" {{action 'search'}}>
                {{fa-icon 'search' class='search-button' title='Search'}}
            </a>
            <a href={{atomFeedUrl}}>
                {{fa-icon 'feed' class='feed-button' title='Atom feed for this search'}}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="text-muted col-xs-2 col-xs-offset-2">
            <small>{{numberOfEvents}} events as of {{moment-format eventsLastUpdated 'MMM D YYYY' 'ddd MMM DD YYYY HH:mm:ss'}}</small>
        </div>
        <div class="col-xs-4" style="text-align: center">
            <small>Found {{numberOfResults}} events in {{took}} seconds</small>
        </div>
        <div class="text-muted col-xs-2" style="text-align: right">
            <small>{{numberOfSources}} aggregated sources</small>
        </div>
    </div>


    {{#if queryBody}}
        <div class="row" style="text-align: center; font-size:75%; margin-top:15px">
            <i>
                <a{{action 'toggleCollapsedQueryBody'}}>
                    View query body
                    {{#if collapsedQueryBody}}
                        {{fa-icon 'caret-up'}}
                    {{else}}
                        {{fa-icon 'caret-down'}}
                    {{/if}}
                </a>
            </i>
        </div>
    {{/if}}
    {{#bs-collapse collapsed=collapsedQueryBody}}
        <div id="queryBody" class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="row">
                    <div style="text-align: center; font-size:75%; margin-top:15px">
                        <i>Search API: <a href={{searchUrl}}>{{searchUrl}}</a></i>
                    </div>
                    <div class="col-xs-8 col-xs-offset-2">
                        {{json-pretty
                            obj=displayQueryBody
                            shouldHighlight=true
                        }}
                    </div>
                </div>
            </div>
        </div>
    {{/bs-collapse}}
    </div>
    <hr>
    <div class="row">
        <div class='col-xs-3'>
            <button {{action 'clearFilters'}} class='btn btn-default' style="color: #337ab7 ; background-color: #f5f5f5; border-color: #ddd ;">
                Clear Filters
            </button>
            <hr>
            {{faceted-search onChange='filtersChanged' filters=facetFilters facets=facets aggregations=aggregations}}
        </div>


        <div class='col-xs-9'>
          {{#each results as |obj|}}
            {{search-result addFilter='addFilter' obj=obj}}
          {{/each}}

          <div class="text-center">
            {{#if loading}}
              {{fa-icon 'spinner' pulse=true size=3}}
            {{else}}
              <button class="btn btn-default" {{action 'next'}}> More </button>
            {{/if}}
          </div>
        </div>
    </div>

    <br>

</div>
