<div class="container">
    <br>
    <br>
    <div class="row share-search">
        <div class="col-xs-8 col-xs-offset-2">
            {{input class="form-control" value=q key-up='typing'}}
        </div>
        <div class="col-xs-2">
            <a href="" {{action 'search'}}>
                {{fa-icon 'search' class='search-button' title='Search'}}
            </a>
            <a href={{atomFeedUrl}}>
                {{fa-icon 'feed' class='feed-button' title='Atom feed for this search'}}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="text-muted col-sm-2 col-sm-offset-2 hidden-xs">
            <small>{{numberOfEvents}} events as of {{moment-format eventsLastUpdated 'MMM D YYYY' 'ddd MMM DD YYYY HH:mm:ss'}}</small>
        </div>
        <div class="col-sm-4 col-xs-12" style="text-align: center">
            <small>Found {{numberOfResults}} events in {{took}} seconds</small>
        </div>
        <div class="text-muted col-sm-2 hidden-xs" style="text-align: right">
            <small>{{numberOfSources}} aggregated sources</small>
        </div>
    </div>
    {{#if queryBody}}
        <div class="row" style="text-align: center; font-size:75%; margin-top:15px">
            <i>
                <a{{action 'toggleCollapsedQueryBody'}} href="#">
                    View query body
                    {{#if collapsedQueryBody}}
                        {{fa-icon 'caret-up'}}
                    {{else}}
                        {{fa-icon 'caret-down'}}
                    {{/if}}
                </a>
            </i>
        </div>
    {{/if}}
    {{#bs-collapse collapsed=collapsedQueryBody}}
        <div id="queryBody" class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="row">
                    <div style="text-align: center; font-size:75%; margin-top:15px">
                        <i>Search API: <a href={{searchUrl}}>{{searchUrl}}</a></i>
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        {{json-pretty
                            obj=displayQueryBody
                            shouldHighlight=true
                        }}
                    </div>
                </div>
            </div>
        </div>
    {{/bs-collapse}}
    <div class="row">
        <div class="col-xs-6" style="text-align: left;">
            <button {{action 'clearFilters'}} class='btn btn-default clear-filters'>
                Clear filters
            </button>
        </div>
        <div class="col-xs-6 pull-right" style="text-align: right">
            <select onchange={{action 'selectSortOption' value="target.value"}} class="btn-select">
                {{#each sortOptions as |sortChoice|}}
                    <option value={{sortChoice.sortBy}} selected={{eq sort sortChoice.sortBy}}>{{sortChoice.display}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="row visible-xs">
        <div class="col-xs-12 discover-filter-list">
            {{#each facetStatesArray as |filter|}}
                {{#if (and filter.key (not-eq key 'date'))}}
                    {{#each filter.value as |value|}}
                        <a class='discover-filter-block' {{action 'removeFilter' filter.key value}}>
                            {{value}} {{fa-icon 'times'}}
                        </a>
                    {{/each}}
                {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="row visible-xs">
        <div class="col-xs-12" style="text-align: right; font-size:75%; margin-top:15px">
            <i>
                <a{{action 'toggleCollapsedFilters'}} href="#">
                    View filter options
                    {{#if collapsedFilters}}
                        {{fa-icon 'caret-up'}}
                    {{else}}
                        {{fa-icon 'caret-down'}}
                    {{/if}}
                </a>
            </i>
        </div>
    </div>
    <hr>
    <div class="row">
        {{#if media.isExtraSmall}}
            <div class='col-xs-12 visible-xs'>
                {{#bs-collapse collapsed=collapsedFilters}}
                    {{faceted-search
                        onChange='filtersChanged'
                        updateParams='updateParams'
                        filters=facetFilters
                        facetStates=facetStates
                        facets=facets
                        aggregations=aggregations
                    }}
                {{/bs-collapse}}
            </div>
        {{/if}}
        {{#if (not media.isExtraSmall)}}
            <div class='col-sm-3 hidden-xs'>
                {{faceted-search
                    onChange='filtersChanged'
                    updateParams='updateParams'
                    filters=facetFilters
                    facetStates=facetStates
                    facets=facets
                    aggregations=aggregations
                }}
            </div>
        {{/if}}
        <div class='col-sm-9 col-xs-12'>
            {{#each results as |obj|}}
                {{search-result addFilter='addFilter' obj=obj}}
            {{/each}}
            <div class="text-center">
                {{#if loading}}
                    {{fa-icon 'spinner' pulse=true size=3}}
                {{else if noResultsMessage}}
                    <div class="no-results">{{noResultsMessage}}</div>
                {{else if morePages}}
                    <button class="btn btn-default" {{action 'next'}}> More </button>
                {{/if}}
            </div>
        </div>
    </div>
    <br>
</div>
