{{outlet}}

<h2> Harvest log Data</h2>
{{#each model.harvestlog as |harvest-log|}}
	{{harvest-log.status}}<br>
{{/each}}

{{#each model.sourceconfig as |source-config|}}
	{{source-config.label}}<br>
	{{log source-config}}
{{/each}}

{{#each model.source as |source|}}
	{{source.long_Title}}<br>
{{/each}}
