{{outlet}}

<h1>HARVEST LOGS</h1>
{{#each model.sourceconfig as |sc|}}
	<li>LABEL {{sc.label}}</li>
	{{#each model.harvestlog as |hl|}}
		{{#if (equals hl.sourceConfig.id sc.id)}}
			<!-- <li>hlscid{{hl.sourceConfig.id}}scid{{sc.id}}</li> -->
			<li>STATUS {{hl.status}}</li>
		{{/if}}
	{{/each}}
{{/each}}

{{#each model.sourceconfig as |sc|}}
	<!-- {{#each sc.label}}
		<li>inside{{sc.label}}</li>
	{{/each}} -->
	<li>{{sc.label}}</li>
{{/each}}
