<div class="container">
    {{search-header}}
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="row">
                <div class="col-xs-11">
                    {{#power-select-multiple
                        search=(action "elasticSearch")
                        placeholder=placeholder
                        selected=selected
                        onchange=(action "changeFilter")
                        as |option|
                    }}
                        {{option}}
                    {{/power-select-multiple}}
                </div>
                <div class="col-xs-1">
                    <a style="margin-left: -20px" href="" {{action 'search'}}>
                        <i style="font-size: 150%; margin-top: 5px" class="fa fa-search"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-muted text-center"><small>{{numberOfProviders}} content providers as of {{moment-format providersLastUpdated 'ddd MMM DD YYYY' 'ddd MMM DD YYYY HH:mm:ss'}}</small></div>
    <hr>
    <br>
    <div class="row">
        {{#each providers as |provider index|}}
            {{#if (modIf index 2)}}
                <div class="row">
                    {{provider-block provider=provider}}
                </div>
            {{else}}
                {{provider-block provider=provider}}
            {{/if}}
        {{/each}}
    </div>

    <br>
</div>

