<div class="registration-container container">
    <div class="form-group row">
        <div class="col-xs-12">
            <h1>Provider Registration Form</h1>
            {{#form-for model submit=(action 'submit') as |f|}}
                <hr>
                <section class="registration-section">
                    <h2>Contact Information</h2>
                    {{
                        f.text-field
                        "contactName"
                        required=true
                        fieldClasses="form-group"
                        labelClasses="registration-field-group"
                        inputClasses="form-control"
                    }}
                    {{
                        f.email-field
                        "contactEmail"
                        required=true
                        fieldClasses="form-group"
                        labelClasses="registration-field-group"
                        inputClasses="form-control"
                    }}
                    {{
                        f.text-field
                        "contactAffiliation"
                        required=true
                        fieldClasses="form-group"
                        labelClasses="registration-field-group"
                        inputClasses="form-control"
                    }}
                </section>
                <hr>
                <section class="registration-section">
                    <h2>Metadata Sharing</h2>
                    <h5>
                        Please confirm the following statements about the metadata
                        you will be providing to SHARE:
                    </h5>
                    <p class="form-text help-block">
                        Please note these statements only apply to the metadata in your API, not to the research objects themselves.
                    </p>
                    {{
                        f.checkbox-field
                        "metaTos"
                        label="Metadata gathering does not violate my
                                organization's Terms of Service."
                        required=true
                        fieldClasses="form-group"
                    }}
                    {{
                        f.checkbox-field
                        "metaRights"
                        label="Metadata gathering does not violate my
                               organization's Privacy Policy."
                        required=true
                        fieldClasses="form-group"
                    }}
                    {{
                        f.checkbox-field
                        "metaPrivacy"
                        label="Distributing this metadata does not violate my
                                organization's Terms of Service or Privacy Policy."
                        required=true
                        fieldClasses="form-group"
                    }}
                    {{
                        f.checkbox-field
                        "metaSharing"
                        label="I understand and acknowledge that the metadata my
                              organization provides will be redistributed by SHARE."
                        required=true
                        fieldClasses="form-group"
                    }}
                    {{
                        f.checkbox-field
                        "metaLicense"
                        label="I have the right to acknowledge the above statements
                                for my organization."
                        required=true
                        fieldClasses="form-group"
                    }}
                </section>
                <hr>
                <section class="registration-section">
                    <h2>Source Type</h2>
                    {{
                        f.radio-field
                        "directSource"
                        true
                        label="We want to push directly into the SHARE database
                              using the API."
                        fieldClasses="form-group"
                    }}
                    {{
                        f.radio-field
                        "directSource"
                        false
                        label="We want our metadata to be harvested by SHARE."
                        fieldClasses="form-group"
                    }}
                </section>
                <hr>
                <section class="registration-section">
                    <h2>Source Information</h2>
                    {{
                        f.text-field
                        "sourceName"
                        required=true
                        fieldClasses="form-group"
                        labelClasses="registration-field-group"
                        inputClasses="form-control"
                    }}
                    {{
                        f.textarea-field
                        "sourceDescription"
                        required=true
                        fieldClasses="form-group"
                        labelClasses="registration-field-group"
                        inputClasses="form-control"
                        rows=6
                    }}

                    {{#if (not model.directSource)}}
                        {{
                            f.url-field
                            "sourceBaseUrl"
                            label="Base URL"
                            hint="If you're entering an OAI-PMH provider, include
                                  everything before the \"?\" in the base url."
                            required=true
                            labelClasses="registration-field-group"
                            inputClasses="form-control"
                        }}
                        <p class="registration-example help-block">
                            Example: http://repository.stcloudstate.edu/do/oai/
                        </p>
                        <p class="registration-example help-block registration-field-bottom">
                            Not: http://repository.stcloudstate.edu/do/oai/?verb=ListRecords
                        </p>
                        {{
                            f.checkbox-field
                            "sourceOAI"
                            label="This source follows OAI-PMH standards."
                            hint="Preferred metadata prefix is \"oai_dc\"."
                            fieldClasses="form-group"
                        }}
                        {{
                            f.text-field
                            "sourceRateLimit"
                            label="If there are rate limits for requests from
                                  your service, please list them below."
                            hint="Example: 1 request/second"
                            placeholder="Optional"
                            fieldClasses="form-group"
                            labelClasses="registration-field-group"
                            inputClasses="form-control"
                        }}
                        {{
                            f.text-field
                            "sourcePreferredMetadataPrefix"
                            label="Preferred Metadata Prefix"
                            hint="The metadata prefix that provides the most
                                  complete metadata."
                            placeholder="Optional"
                            fieldClasses="form-group"
                            labelClasses="registration-field-group"
                            inputClasses="form-control"
                        }}
                        {{
                            f.text-field
                            "sourceDocumentation"
                            label="If your organization's API has documentation
                                    online, please enter the URL below."
                            placeholder="Optional"
                            fieldClasses="form-group"
                            labelClasses="registration-field-group"
                            inputClasses="form-control"
                        }}

                        <label>Disapproved Sets</label>
                        <br>
                        <p>
                            List the setNames for the corresponding setSpec options in your
                            publically accessable database that you would NOT like to appear
                            in SHARE Notify.
                            {{#if (and registration.sourceBaseUrl registration.sourceOAI)}}
                                To see your source's ListSets, visit
                                <a>{{registration.sourceBaseUrl}}?verb=ListSets</a>.
                                Displayed here are the setNames for the corresponding setSpec options
                                in your publically accessable database.
                            {{/if}}
                        </p>
                        <p>
                            Sets that you specify will be ignored and not processed by SHARE, and
                            sets that you do not specify will be included in SHARE.
                        </p>
                        {{
                            f.text-field
                            "sourceDisallowedSets"
                            label="If you you would like SHARE to ignore certain
                                  sets, please list them below."
                            placeholder="Optional"
                            fieldClasses="form-group"
                            labelClasses="registration-field-group"
                            inputClasses="form-control"
                        }}
                        {{
                            f.textarea-field
                            "sourceAdditionalInfo"
                            label="Is there anything else we should know to harvest
                                  from your source?"
                            placeholder="Optional"
                            fieldClasses="form-group"
                            labelClasses="registration-field-group"
                            inputClasses="form-control"
                            rows=6
                        }}

                    {{/if}}
                </section>
                <br>
                {{
                    f.submit
                    "Register to become a SHARE source"
                    class="btn btn-primary btn-block"
                }}
            {{/form-for}}
        </div>
    </div>
</div>
