{{title 'detail'}}

<div class="title-container">
    <div class="container">
        <div class="detail-back-arrow-block">
            <a class="detail-back-arrow" {{action "goBack"}}>
                <span class="fa fa-arrow-left"></span>
            </a>
        </div>
        <div class="jumbotron">
            <heading>
                <h1 class="title">
                    Metadata Cards
                </h1>
                <h2 class="title">
                    for "{{this.elasticRecord.title}}"
                </h2>
            </heading>
            <section>
                <ul>
                    {{#each this.elasticRecord.identifiers as |uri|}}
                        <li>{{uri-display uri=uri}}</li>
                    {{/each}}
                    <li>({{this.model.sourceConfig.label}}, {{this.model.identifier}})</li>
                </ul>
            </section>
        </div>
    </div>
</div>

<div class="container detail-bottom-padding">
    {{#each this.model.formattedmetadatarecordSet as |fmr|}}
        {{#if fmr}}
            <section>
                <h2>Format: {{fmr.recordFormat}}</h2>
                {{#if fmr.hasXML}}
                    <pre>{{fmr.formattedMetadataXML}}</pre>
                {{else}}
                    {{json-pretty obj=fmr.formattedMetadataJSON}}
                {{/if}}
            </section>
        {{/if}}
    {{/each}}
</div>
