{{title 'detail'}}

<div class="title-container">
    <div class="container">
        <div class="detail-back-arrow-block">
            <a class="detail-back-arrow" {{action "goBack"}}>
                <span class="fa fa-arrow-left"></span>
            </a>
        </div>
        <div class="jumbotron">
            <h1 class="title">
                Metadata for <cite>“{{this.elasticRecord.title}}”</cite>
            </h1>
        </div>
    </div>
</div>

<div class="container detail-bottom-padding">
    <section>
        <h2>Identifiers</h2>
        <ul>
            {{#each this.elasticRecord.identifiers as |uri|}}
                <li>{{uri-display uri=uri}}</li>
            {{/each}}
            <li>({{this.model.sourceConfig.label}}, {{this.model.identifier}})</li>
        </ul>
    </section>
    <section>
        <h2>Metadata cards</h2>
        {{#if this.oaidcRecord}}
            <section>
                <h3>Simple Dublin Core format</h3>
                <p>
                The <a href="https://en.wikipedia.org/wiki/Dublin_Core">Dublin Core</a> is a set of "core"
                metadata elements for describing resources or creative works from any discipline.
                </p>
                <p>
                SHARE serves metadata in Dublin Core format at <a href="/oai-pmh">our OAI-PMH feed</a>
                using the <a href="https://www.openarchives.org/OAI/openarchivesprotocol.html">Open Archive Initiative Protocol for Metadata Harvesting</a>.
                </p>
                <pre>{{this.oaidcRecord}}</pre>
            </section>
        {{/if}}
        {{#if this.elasticRecord}}
            <section>
                <h3>SHAREv2 "search result" format</h3>
                <p>
                This non-standard JSON format is what SHARE currently uses to index metadata
                records for search and discovery.
                </p>
                <p>
                Behind the scenes, the {{#link-to 'discover'}}SHARE discover page{{/link-to}} depends on
                search results in this format, as do the
                <a href="https://osf.io/preprints/discover">OSF Preprints</a> and
                <a href="https://osf.io/registries/discover">OSF Registries</a> discover pages.
                </p>
                {{json-pretty obj=this.elasticRecord}}
            </section>
        {{/if}}
    </section>
</div>
