{{title 'detail'}}

<div class="title-container">
    <div class="container">
        <div class="detail-back-arrow-block">
            <a class="detail-back-arrow" {{action "goBack"}}>
                <span class="fa fa-arrow-left"></span>
            </a>
        </div>
        <div class="jumbotron">
            <h1 class="title">
                Metadata Cards<br>
                for<br>
                <cite>{{this.elasticRecord.title}}</cite>
            </h1>
        </div>
    </div>
</div>

<div class="container detail-bottom-padding">
    <section>
        <h2>External links</h2>
        <ul>
            {{#each this.elasticRecord.identifiers as |uri|}}
                <li>{{uri-display uri=uri}}</li>
            {{/each}}
            <li>({{this.model.sourceConfig.label}}, {{this.model.identifier}})</li>
        </ul>
    </section>
    {{#each this.model.formattedmetadatarecordSet as |fmr|}}
        {{#if fmr}}
            <section>
                <h2>Metadata card formatted as {{fmr.recordFormat}}</h2>
                {{#if fmr.hasXML}}
                    <pre>{{fmr.formattedMetadataXML}}</pre>
                {{else}}
                    {{json-pretty obj=fmr.formattedMetadataJSON}}
                {{/if}}
            </section>
        {{/if}}
    {{/each}}
</div>
